# These are auto-populated when you connect a Vercel Postgres database
# via the Vercel dashboard (Storage > Create > Postgres > Connect to Project)
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
